pipeline/pl_ingest_population_data.json
{
    "name": "pl_ingest_population_data",
    "properties": {
        "activities": [
            {
                "name": "Check if file exists",
                "type": "Validation",
                "dependsOn": [],
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "ds_population_raw_gz",
                        "type": "DatasetReference"
                    },
                    "timeout": "1.00:00:00",
                    "sleep": 600,
                    "minimumSize": 1024
                }
            },
            {
                "name": "If Column Count matched",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "Get File Metadata",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@equals(activity('Get File Metadata').output.columnCount, 13)",
                        "type": "Expression"
                    },
                    "ifTrueActivities": [
                        {
                            "name": "Copy Population Data",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.00:05:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "DelimitedTextSource",
                                    "storeSettings": {
                                        "type": "AzureBlobStorageReadSettings",
                                        "recursive": true,
                                        "enablePartitionDiscovery": false
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextReadSettings"
                                    }
                                },
                                "sink": {
                                    "type": "DelimitedTextSink",
                                    "storeSettings": {
                                        "type": "AzureBlobFSWriteSettings"
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextWriteSettings",
                                        "quoteAllText": true,
                                        "fileExtension": ".txt"
                                    }
                                },
                                "enableStaging": false,
                                "translator": {
                                    "type": "TabularTranslator",
                                    "typeConversion": true,
                                    "typeConversionSettings": {
                                        "allowDataTruncation": true,
                                        "treatBooleanAsNumber": false
                                    }
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "ds_population_raw_gz",
                                    "type": "DatasetReference"
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "ds_population_raw_tsv",
                                    "type": "DatasetReference"
                                }
                            ]
                        },
                        {
                            "name": "Delete Source file",
                            "type": "Delete",
                            "dependsOn": [
                                {
                                    "activity": "Copy Population Data",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "dataset": {
                                    "referenceName": "ds_population_raw_gz",
                                    "type": "DatasetReference"
                                },
                                "enableLogging": false,
                                "storeSettings": {
                                    "type": "AzureBlobStorageReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                }
                            }
                        }
                    ]
                }
            },
            {
                "name": "Get File Metadata",
                "type": "GetMetadata",
                "dependsOn": [
                    {
                        "activity": "Check if file exists",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "ds_population_raw_gz",
                        "type": "DatasetReference"
                    },
                    "fieldList": [
                        "columnCount"
                    ],
                    "storeSettings": {
                        "type": "AzureBlobStorageReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    },
                    "formatSettings": {
                        "type": "DelimitedTextReadSettings"
                    }
                }
            }
        ],
        "folder": {
            "name": "Ingest"
        },
        "annotations": [],
        "lastPublishTime": "2023-06-09T17:48:16Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}